.transactions-statistics {
  background-image: radial-gradient(circle, rgb(117, 171, 180), rgb(101, 190, 179));
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  margin: 40px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  width: 80%;
  transition: background-color 0.3s ease-in-out;
}

.transactions-statistics:hover {
  background-color: rgba(117, 171, 180, 0.9);
}

.statistics-title {
  font-family: "Arial", sans-serif;
  font-size: 2.2rem;
  color: rgb(34, 34, 34);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.statistics-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, rgb(130, 192, 64), rgb(54, 96, 165));
  border-radius: 15px;
  padding: 20px;
  width: 60%;
}

.statistics-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.statistics-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.statistics-item p {
  margin: 0;
  font-size: 1.1rem;
  color: white;
}

